<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeMirror in 30</title>

</head>

<body>
    <form action="">
        <label for="editor">Editor Input</label>
        <textarea name="editor"></textarea>
    </form>
    <script src="../static/main-editor.js"></script>
    </form>

    <form>
        <div id="editorTarget"></div>
        <textarea id="editorSource" name="editorSource">Some filler text</textarea>
        <button id="submit" type="submit">Submit</button>
        <script src="../static/cm6editor.js"></script>
    </form>

</body>

</html>
