<!DOCTYPE html>
<html>
<head>
    <title>DeliGrasp Console</title>
    <!-- Add Bootstrap CSS link -->
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='codemirror.css')}}">   -->
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <!-- <link rel="stylesheet" href="../static/codemirror.css"> -->
    <!-- <script src="../static/codemirror.js"></script> -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon.png">

    <!-- Add Bootstrap JS and jQuery scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'codemirror.js') }}"></script> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'mode/python.js') }}"></script> -->

    <!-- <style>
        /* Custom CSS for Python code style */
        .code {
            font-family: "Courier New", monospace;
            white-space: pre;
        }

        /* Custom CSS for code box */
        .code-box {
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f8f9fa;
            margin-top: 20px;
        }

        .row{ display: flex; align-items: center;}
        .CodeMirror { border: 2px solid lightgrey }
        .CodeMirror.CodeMirror-focused { border: 2px solid blue }
    </style> -->
</head>
<body>
<div class="container mt-5">
<div class="row">
    <div class="col text-center">
        <h1 class="mb-3"> <img src="static/icon-title.png" style="height: 1em;">
            DeliGrasp Console 🔧</h1>
    </div>
</div>
<form id="configure-form">
    <div class="row">
        <div class="col-1 text-justify align-self-center" style="padding-right: 0px;">
            <button type="submit" class="btn btn-success" id="connect-button" name="connect">Connect</button>
            <hr>
            <div><i>Status: </i></div>
            <div id="connect-status" style="color: red;">Disconnected</div>
        </div>
        <div class="col-1 text-justify align-self-start" style="padding-right: 0px; margin-left: 20px">
            <h5>Move </h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="moveconf" id="moveconf1" value="3D Pos" checked>
                <label class="form-check-label" for="moveconf1">
                3D Pos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="moveconf" id="moveconf2" value="6D Pose">
                <label class="form-check-label" for="moveconf2">
                6D Pose
                </label>
            </div>
        </div>

        <div class="col-2 text-justify align-self-start" style="padding-left: 10px; padding-right: 0px;">
            <h5>VLA Policy</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vlaconf" id="vlaconf1" value="dp" checked>
                <label class="form-check-label" for="vlaconf1">
                Diffusion Policy
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vlaconf" id="vlaconf2" value="dp_nf">
                <label class="form-check-label" for="vlaconf2">
                DP No Force
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vlaconf" id="vlaconf3" value="dp_go">
                <label class="form-check-label" for="vlaconf3">
                DP Grasp Only
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vlaconf" id="vlaconf4" value="dp_go_nf">
                <label class="form-check-label" for="vlaconf4">
                DP GO NF
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vlaconf" id="vlaconf5" value="octo_ft">
                <label class="form-check-label" for="vlaconf5">
                Octo FT
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vlaconf" id="vlaconf5" value="octo_ft_nf">
                <label class="form-check-label" for="vlaconf5">
                Octo
                </label>
            </div>
        </div>

        <div class="col-2 text-justify align-self-start" style="padding-left:0px; padding-right: 0px;">
            <h5>Grasp Policy</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="graspconf" id="graspconf1" value="dg" checked>
                <label class="form-check-label" for="graspconf1">
                DeliGrasp
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="graspconf" id="graspconf2" value="fl">
                <label class="form-check-label" for="graspconf2">
                Force Limited
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="graspconf" id="graspconf3" value="vision">
                <label class="form-check-label" for="graspconf3">
                Visual Width
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="graspconf" id="graspconf4" value="dgdirect">
                <label class="form-check-label" for="graspconf4">
                DeliGrasp Ablated
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="graspconf" id="graspconf5" value="cag">
                <label class="form-check-label" for="graspconf5">
                Classical Adaptive
                </label>
            </div>
        </div>
        <!-- checkbox form -->
        <div class="col-1 text-justify align-self-start" style="padding-left: 05px;">
            <h5>LLM Config</h5>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="policyconf" id="policyconf1" value="vision">
                <label class="form-check-label" for="policyconf1">
                Vision
                </label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="policyconf" id="policyconf2" value="cot">
                <label class="form-check-label" for="policyconf2">
                PR-CoT
                </label>
            </div>
        </div>
        <div class="col-1 text-justify align-self-start" style="padding-left: 0px;">
            <h5>Grasp LLM</h5>
            <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="llmconf" id="llmconf1" value="gpt-4-turbo" checked> -->
                <input class="form-check-input" type="radio" name="llmconf" id="llmconf1" value="gpt-4o" checked>
                <label class="form-check-label" for="llmconf1">
                GPT-4o
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="llmconf" id="llmconf2" value="gpt-4-turbo">
                <label class="form-check-label" for="llmconf2">
                GPT-4-t
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="llmconf" id="llmconf3" value="gpt-3.5-turbo">
                <label class="form-check-label" for="llmconf3">
                GPT-3.5 <i></i>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="llmconf" id="llmconf4" value="ft:gpt-3.5-turbo-0125:columbia-university::9IswU4vr">
                <label class="form-check-label" for="llmconf4">
                GPT-3.5 PO FT
                </label>
            </div>
            <!-- <div class="form-check">
                <input class="form-check-input" type="radio" name="llmconf" id="llmconf5" value="gemini">
                <label class="form-check-label" for="llmconf5">
                Gemini (WIP)
                </label>
            </div> -->
        </div>
        <div class="col-1 text-justify align-self-start" style="padding-left: 0px;">
            <h5>VLM (WIP)</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vlmconf" id="vlmconf1" value="owl-vit" checked>
                <label class="form-check-label" for="llmconf1">
                OWL-ViT
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vlmconf" id="vlmconf2" value="owl-v2">
                <label class="form-check-label" for="vlmconf2">
                OWLv2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vlmconf" id="vlmconf3" value="dino">
                <label class="form-check-label" for="vlmconf3">
                GDINO
                </label>
            </div>
            <!-- <div class="form-check">
                <input class="form-check-input" type="radio" name="vlmconf" id="vlmconf4" value="detic">
                <label class="form-check-label" for="vlmconf4">
                Detic
                </label>
            </div> -->
        </div>

        <div class="col-1 text-justify align-self-start" style="padding-left: 0px;">
            <h5>Segmentation </h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="segconf" id="segconf1" value="" checked>
                <label class="form-check-label" for="segconf1">
                SAM2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="segconf" id="segconf2" value="">
                <label class="form-check-label" for="segconf2">
                DBscan
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="segconf" id="segconf3" value="">
                <label class="form-check-label" for="segconf3">
                NoSeg
                </label>
            </div>
        </div>

    </div>
</form>

<div class="row mt-3">
    <div class="col-7" style="padding-right: 0px;">
        <div class="row">
            <div class="col-1 text-justify" style="padding-right: 0px;">
                <label for="user-input">User:</label>
            </div>
            <div class="col-11" style="padding-left: 0px;">
                <input type="text" class="form-control" id="user-input" placeholder="pick up a ripe avocado"></input>
            </div>
        </div>
    </div>
    <div class="col-1" style="padding-right: 0px;">
        <button class="btn btn-primary" id="send-button">Enter</button>
    </div>
    <div class="col-1">
        <span><i>Status: </i></span>
        <div id="chat-status">Inactive</div>
    </div>
    <div class="col-3 justify-content-end">
        <button class="btn btn-secondary" id="new-interaction">New Interaction</button>
        <button class="btn btn-success" id="clear-chat">Clear Chat</button>
    </div>
</div>
<div class="outer mt-3">
    <div id="chat-window" class="inner"></div>
</div>

<div class="row mt-2">
    <div class="col-8 text-justify">
        <button class="btn btn-secondary" id="robot-execute">Execute Full Plan</button>
        <div class="vr" style="width: 2px; height: 1.25em;"></div>
        <button class="btn btn-success" id="robot-home">Home</button>
        <button class="btn btn-secondary" id="robot-move">Move</button>
        <button class="btn btn-secondary" id="robot-release">Release</button>
        <button class="btn btn-primary" id="robot-grasp">Grasp</button>
        <div class="vr" style="width: 2px; height: 1.25em;"></div>
        <button class="btn btn-secondary" style="background-color:brown" id="robot-set-home">Set Home</button>
        <button class="btn btn-secondary" style="background-color:brown" id="robot-keep-policy">Keep Policy</button>
        <button class="btn btn-secondary" style="background-color:brown" id="robot-teach-mode">Teach Mode</button>
    </div>
    <div class="col-4 text-justify">
        <div><i>Robot Status: </i></div>
        <div id="robot-status">Inactive</div>
    </div>
</div>

<hr>

<div class="row mt-2">
    <div class="col-6 text-justify">
        VLA Controls: 
        <button class="btn btn-secondary" id="vla-observe">Observe</button>
        <button class="btn btn-primary"   id="vla-act">Act</button>
        <button class="btn btn-secondary" style="background-color:brown" id="vla-reset">Policy Toggle</button>
        <button class="btn btn-secondary" style="background-color:brown" id="vla-robot-toggle">Robot Toggle</button>
        <button class="btn btn-secondary" style="background-color:brown" id="vla-record-load-toggle">Record Load</button>
    </div>
    <div class="col-2 text-justify">
        <div class="row">
            <div class="col-4">
                <label for="vla-obs-act">ObsAct Cycles </label>
            </div> 
            <div class="col-6" style="padding-left: 25px;">
                <input type="number" class="form-control" id="vla-obs-act" placeholder=5 value=5></input>
            </div>
            <div class="col-2 text-justify">
                <button class="btn btn-primary" id="vla-send-obs-act">Run</button>
            </div>        
        </div>
    </div>
</div>


<div class="outer mt-3">
    <div id="robot-chat-window" class="inner status" style="height: 150px;">
    <div class="status"> <i style="color: gray;">Robot Status</i></div>
    <hr>
    </div>
</div>
    <!-- <form id="generate-form">
        <div class="form-group">
            <div class="row">
                <div class="col-3 d-flex flex-column">
                    <input type="file" accept=".py, .txt" class="form-control-file mb-2" id="fileInput" style="display: none;" onchange="handleFileUpload(this)">
                    <button type="button" class="btn btn-secondary mt-2" onclick="document.getElementById('fileInput').click();">Upload Code</button>
                    <label for="prompt">Or enter a prompt:</label>
                </div>
            </div>
            <script type="text/javascript" src="{{ url_for('static', filename = 'codemirror.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename = 'mode/python.js') }}"></script>
            <textarea class="form-control" name="prompt" rows="24" id="promptTextarea">{{ prompt }}</textarea>
        </div>
    <button type="submit" class="btn btn-primary" id="generate-button" name="generate">Generate</button>
    </form> -->

    <!-- <div class="mt-4">
        <h3>Generated Completion:</h2>
    </div> -->

    <!-- <div class="code-box">
        <pre id="generatedCode">
{% if completion %} {{ completion }} {% else %} {{"# Your generated code here."}} {% endif %}
        </pre>
        <a href="#" class="btn btn-success mt-2" download="generated_code.py" id="downloadButton">Download Policies</a>
    </div> -->

</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/codemirror@5.61.0/addon/runmode/runmode-standalone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.61.0/mode/python/python.min.js"></script>
    <script>
        window.onload = function(){
            var codeElement = document.getElementById('generatedCode');
            // Add code mirror class for coloring (default is the theme)
            codeElement.classList.add( 'cm-s-default' );
            var code = codeElement.innerText;

            codeElement.innerHTML = "";

            CodeMirror.runMode(
              code,
              'python',
              codeElement
            );
        };
    </script> -->
</html>
